.tarefa-concluida {    
    color: blue; 
}

.tarefa-pendente { 
    color: orange; 
} 

.banner {
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}