<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
    <head> 
        <title>Sessões</title> 
        <meta charset="UTF-8"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
    </head> 
    <body> 
        <h1>Login</h1> 
        <form th:action="@{/autentica}" method="POST"> 
            <p><input type="text" name="login" id="txtLogin" placeholder="Login" /></p> 
            <p><input type="password" name="senha" id="pswSenha" placeholder="Senha"/></p> 
            <input type="submit" value="Autenticar" /> 
        </form> 
    </body>
</html>